/*#e10408*/

.btn-custom{
    background-color: #e10408;
    color: #ffff;
    font-weight: 500;
    /*border-radius: 25%;*/
    padding-left: 50px;
    padding-right: 50px;
}
.btn-custom:hover{
    background-color: #e10408;
    color: #ffff;
}
/*Top bar stylings*/
.top-bar h3{
    color: #e10408;
    font-weight: 600;
}

.top-bar a{
    color: grey;
}
.top-bar a:hover{
    color: #e10408;
}
/*Top bar stylings*/

/*Slider images */
.main-slider img{
    height: 70vh;
}
.main-slider .carousel-caption{
    background: rgb(225,4,8);
    background: linear-gradient(90deg, rgba(225,4,8,0.5105392498796393) 0%, rgba(225,4,8,1) 48%, rgba(225,4,8,0.5217437316723564) 100%);
}

/*Slider images */

/*program section stylings*/
.program img{
    height: 300px;
    opacity: .6;
}
.program .card:hover img{
    opacity: 1;
}
.program .card:hover .card-body{
    background-color: #e10408;
    color: #bab6b6;
    transition: .6s ease-in-out;
}
/*program section stylings*/

/*Pricing stylings*/
.pricing{
   /* padding-top: 100px;*/
    /*padding-bottom: 100px;*/
    background: linear-gradient(45deg, #e1040845, #e1040865, #e1040885), url('./images./grad 6.jpg');
    background-size: cover;
    background-attachment: fixed;    
}
.pricing .card{
    border-top: 5px solid #e10408;
}
.pricing .card .recommend{
    background-color: #e10408;
    color: #ffff;
}
.pricing .card .recommend .btn-custom{
    background-color: #ffff;
    color: #e10408;
}
/*Pricing stylings*/

